<body class="h-screen bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none text-center"> 

  <div>
    <h1 class= "font-bold text-6xl text-center text-blue-400"> Log In</h1>
    <%= form_tag '/login' do %>
    Username: <%= text_field_tag :name%><br>
    Password: <%= password_field_tag :password %>
    
    <div class = "rounded-full bg-yellow-200">
        <%= submit_tag "Log In"%>
    </div>
    <% end %>

    <h3><%= link_to(controller: 'users', action: 'new') { "don't have account?" } %></h3>
</body>