<div id="<%= dom_id bid %>">
  <p>
    <strong>Price:</strong>
    <%= bid.price %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= bid.product.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bid.user.name %>
  </p>

  <p>
    <strong>Placed:</strong>
    <%= bid.created_at%>
  </p>

</div>
