<body class="h-screen bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none text-center"> 

  <div>
    <h1 class= "font-bold text-6xl text-center text-blue-400"> Create New User</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Username %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :Conformation%>
    <%= f.password_field :password_confirmaition %>
  </div>
  <h3> Please Select Your Interest </h3>
  <div>
    <%= f.label :interest, style: "display: block" %>
    <%= f.collection_select(:category_ids, Category.all, :id, :name) %>
  </div>

  <div>
    <%= f.label :interest, style: "display: block" %>
    <%= f.collection_select(:category_ids, Category.all, :id, :name) %>
  </div>

  <div>
    <%= f.label :interest, style: "display: block" %>
    <%= f.collection_select(:category_ids, Category.all, :id, :name) %>
  </div>

  <div class = "rounded-full bg-yellow-200">
    <%= f.submit "Create User"%>
  </div>
      <%end%>
  <div class = "rounded-full bg-rose-400">
    <%= link_to "Back to users", users_path %>
  </div>
</body>