<body class="h-screen bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none text-center"> 

  <div class = "mx-auto">
  <p class ="text-6xl text-green-600-"><%= notice %></p>
    <% if logged_in? %>
        <h1 class = "text-6xl">👋, <%= current_user.name %></h1>
    <%end%>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <a href="/">  
    <button class = "text-4xl bg-green-400 rounded-full">Home Page</button></a><br><br>
    <a href = "/products/new">
    <button class = "text-4xl  bg-green-400 rounded-full">Sell Your Stuff!</button></a><br<br>
    <a href="/users">  
    <button class = "text-4xl bg-green-400 rounded-full">Seller List</button></a><br><br>
    <a href="/bids">  
    <button class = "text-4xl  bg-green-400 rounded-full">Bids List</button></a><br><br>

    <a href = "/users/<%=current_user.id%>">
    <button class = "text-4xl bg-green-400 rounded-full ">Show Profile</button></a><br><br>

    <a href = "/users/<%=current_user.id%>/edit">
    <button class = "text-4xl bg-green-400 rounded-full ">Edit Profile</button></a><br><br>

    <input class = "text-3xl rounded-full bg-rose-400"type=submit value="Logout"><br><br>
 
    <% end %>
  </div>
</body>