<body class =  "h-full bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none">

  
  <div class = "grid grid-cols- gap-6 row-auto mx-auto">

    <header class = "bg-blue-400 font-bold p-3 col-start-3 col-span-6 mx-auto">
      <div class= "p-2">
        <ul class = "list-none text-center mx-auto">
          <h1 class = "text-4xl no-underline text-green-400"><%= link_to "KɪᴄᴋᴇᴅOғғEʙᴀʏ🏠", '/'%></h1>
          <h2 class = "mx-auto text-2xl">Because ➡️➡️➡️➡️ Everyone🫵 Deserves💪 a Second♻️ Chance😇</h2>
            <a href="/login">  
            <button class= "text-2xl rounded-full  bg-green-400 hover:bg-green-600">Login</button></a>
            <a href="/users/new">  
            <button class = "text-2xl rounded-full bg-green-400 hover:bg-green-600">Sign Up</button></a>
            <br>
            <h3 class = "mx-auto text-2xl">🔎🅢🅔🅐🅡🅒🅗🔎</h3>
            <%= form_tag(products_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search])%>
            <%end%>
        </ul>
      </div>
    </header>

    <header class = "bg-blue-400 font-bold p-2 col-start-7 col-span-6 mx-auto">
      <% if logged_in? %>
      hELLLO! <%=current_user.name %><br>
        <a href="/home">  
        <button>My profile</button></a>
        <a href="/logout">  
        <button>Logout</button></a> 
      <% else %>
        <a href="/login">  
        <button>Login</button></a>
        <a href="/users/new">  
        <button>Sign Up</button></a> 
      <% end %>
    </header>

    <div class = "col-start-1 col-span- text-center mx-auto">
      <br><br><br><br<br><br><br><br><br<br><br><br><br><br><br<br><br><br><br><br><br><br>

      <h2 class = "text-right text-4xl text-blue-400 underline w-max">CATEGORIES</h2>
      <ul class = "list-none"> <%Category.all.each do |c|%>
        <br><li class = "text-3xl">➡️ <%=link_to c.name.titleize, c%> ⬅️</li>
        <%end%>
      </ul>
    </div>

    <div class = "col-start-2 col-span-4 text-center content-center">
      <h1 class = "text-8xl text-green-500">𝕂𝕚𝕔𝕜𝕖𝕕𝕆𝕗𝕗_𝔼𝕓𝕒𝕪</h1>
      <h1 class = "text-6xl text-blue-600 w-max text-left mx-auto">Everyone🫵 Deserves💪 a Second♻️ Chance😇</h1>
      <h2 class = "text-4xl text-blue-400 underline">PRODUCTS</h2>
      <ul class = "list-none text-center"><%@products.each do |p|%>
        <li class = "text-2xl col-start-3 col-span-1">🔥 <%=link_to p.name, p%> | <%=p.under_value%></li>
        <%end%>
      <ul>
      
    </div>

     <div class = "col-start-6 col-span-1 text-center mx-auto">
      <br><br><br><br<br><br><br><br><br<br><br><br><br><br><br<br><br><br><br><br><br><br>

      <h2 class = "text-center text-4xl text-blue-400 underline w-max">🚨TRENDING</h2>
      <ul class = "list-none text-center"> <%Bid.trending_products.each do |c|%>
        <br><li class = "text-3xl">🚀 <%=link_to c.product.name.titleize, c.product%></li>
        <%end%>
      </ul>
    </div>


  </div>

</body>