<body class =  "h-full bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none">

  <div class = "grid grid-cols-6 gap-6 row-auto mx-auto text-center">
    <header class = "bg-blue-400 font-bold p-3 col-start-2 col-span-4 text-center">
      <div class= "p-2 text-center">
        <ul class = "list-none text-center mx-auto">
          <p style="color: green"><%= notice %></p>
          <h1 class = "text-8xl text-green-500 text-center"><%=link_to "𝕂𝕚𝕔𝕜𝕖𝕕𝕆𝕗𝕗_𝔼𝕓𝕒𝕪", "/"%></h1>

          <h2 class = "text-5xl text-blue-600 mx-auto text-center">Everyone🫵 Deserves💪 a Second♻️ Chance😇</h1>
              <% if logged_in? %>
          <h3 class = "text-3xl">Hello! <%=current_user.name %></h3>
            <a href= "/products/favorites">
            <button  class= "text-2xl rounded-none hover:rounded-full">For You</button></a><br><br>
            <a href="/home">  
            <button class = "text-xl rounded-full">My profile</button></a>
            <a href="/logout">  
            <button  class = "text-xl rounded-full">Logout</button></a> 
          <% else %>
            <a href="/login">  
            <button class= "text-2xl rounded-none hover:rounded-full">Login</button></a>
            <a href="/users/new">  
            <button class= "text-2xl rounded-none hover:rounded-full">Sign Up</button></a> 
          <% end %>
            <h3 class = "mx-auto text-2xl">🔎🅢🅔🅐🅡🅒🅗🔎</h3>
            <%= form_tag(products_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search])%>
            <%end%>
        </ul>
      </div>
    </header>

    <div class = "col-start-1 text-center mx-auto">
      <h2 class = "text-right text-4xl text-blue-400 underline w-max">CATEGORIES</h2>
      <ul class = "list-none"> <%Category.all.each do |c|%>
        <br><li class = "text-3xl">➡️ <%=link_to c.name.titleize, c%> ⬅️</li>
        <%end%>
      </ul>
    </div>

    <div class = "col-start-2 col-span-4 text-center content-center">
    <h2 class = "text-4xl text-blue-400 underline">PRODUCTS</h2>
      <ul class = "list-none text-center"><%@products.each do |p|%>
        <li class = "text-2xl col-start-3 col-span-1">🔥 <%=link_to p.name, p%> | <%=p.under_value%></li>
        <%end%>
      <ul>
      
    </div>

     <div class = "col-start-6 text-center mx-auto">
      <h2 class = "text-right text-4xl text-blue-400 underline w-max">🚨TRENDING</h2>
      <ul class = "list-none text-center"> <%Bid.trending_products.each do |c|%>
        <br><li class = "text-3xl">🚀 <%=link_to c.product.name.titleize, c.product%></li>
        <%end%>
      </ul>
    </div>


  </div>

</body>