<body class = "h-full bg-gradient-to-b from-yellow-100 to-blue-400 overscroll-none">

  <div class = "flex mx-auto">
     <header class = "bg-blue-400 font-bold p-2 col-start-7 col-span-6 mx-auto">
 
    </header>
    <div class = "flex-none w-60">
      <div></div>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div>
    </div>

    <div class = "flex-none w-20">
    </div>

    <div class = "grow text-center">
      <header class = "bg-blue-400 font-bold p-3 mx-auto">
        <div class= "p-2">
        <ul class = "list-none text-center mx-auto">
          <h1 class = "text-4xl no-underline text-green-400"><%= link_to "KɪᴄᴋᴇᴅOғғEʙᴀʏ🏠", '/'%></h1>
          <h2 class = "mx-auto text-2xl">Because ➡️➡️➡️➡️ Everyone🫵 Deserves💪 a Second♻️ Chance😇</h2>
              <% if logged_in? %>
          <h3 class = "text 2xl">Hello! <%=current_user.name %></h3><br>
            <a href="/home">  
            <button>My profile</button></a>
            <a href="/logout">  
            <button>Logout</button></a> 
          <% else %>
            <a href="/login">  
            <button class= "text-2xl rounded-none hover:rounded-full">Login</button></a>
            <a href="/users/new">  
            <button class= "text-2xl rounded-none hover:rounded-full">Sign Up</button></a> 
          <% end %>
            <h3 class = "mx-auto text-2xl">🔎🅢🅔🅐🅡🅒🅗🔎</h3>
            <%= form_tag(products_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search])%>
            <%end%>
        </ul>
      </div>
      </header>
      <div>
         <p class= "text-6xl text-green-600"><%= notice %></p>
        <h1 class = "text-6xl"><%=@product.name%></h1>
        <h2 class = "text-6xl text-green-600">Seller: <%= link_to @product.user.name, user_path(@product.user)%></h2>
      </div> 

      <div class = "border-double border-orange-600 border-8 bg-orange-300">
        <h1 class = "text-6xl text-green-600">CURRENT BID</h1>
        <h2 class = "text-6xl">$<%=@product.max_bid_price%></h1>
        <h3 class = "text-6xl">By: <%= link_to @product.max_bidder_name, @product.max_bidder %></h1>
          <div>

            <%=form_with model: @bid do |f|%>
             <% if @bid.errors.any? %>
          <div style="color: red">
          <h2><%= pluralize(bid.errors.count, "error") %> prohibited this bid from being saved:</h2>
          <ul>
            <% @bid.errors.each do |error| %>
              <li><%= error.full_messages %></li>
              <% end %>
          </ul>
            <% end %>
            <label class = "text-4xl text-green-600" for="price">🤑PLACE BID HERE🤑</label><br><br>
            <label  class = "text-4xl text-green-600">$</label><%=f.number_field :price%><br><br>
            <label  class = "text-4xl text-green-600"></label></label><%= f.select :user_id, [["#{current_user.name}","#{@user.id}"]]%><br><br>
            <label  class = "text-4xl text-green-600"></label><%= f.select :product_id, [["#{@product.name}","#{@product.id}"]]%><br><br>
            <input class = "bg-green-600 rounded-full text-3xl" type = "submit" value = "PLACE BID">
            <%end%>
        </div>
      </div>
    </div>

    <div class = "flex-none w-20">
     
    </div>

    <div class = "flex-none w-60">
      <div></div>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div><br>
      <div class = "border-dashed border-8 border-green-600">
        <h2 class = "text-3xl text-center text-green-600">💸MSRP💸</h2>
        <h2 class = "text-3xl text-center">$<%=@product.price%></h2>
      </div>
    </div>

  </div>
</body>